*{
    size: 35px;

}
nav{
    padding: 10px;
    background-color: rgba(200, 255, 0, 0.5);
    margin-left: 0px;
    width: 20%;
    height: 100%;
    border-radius: 3px;
    border:10px;
}
button{
    margin: 5px;
    margin-left: 10px;
    padding: 10px;
}