#carousel-container {
    margin: 10%;
} 
.carousel-inner {
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    border-bottom: 00px;
    border-color: #fff;
    border-style: solid;
}
#picture{
    height: 300px;
}